In [1]:
# import something or python is useless...
import pandas as pd
import numpy as np

In [11]:
# read the training file to see what mess we have...
df = pd.read_csv('assets/data/train_911.csv')

In [12]:
# look at the headers...
df.head()

,id,lat,lng,desc,zip,timeStamp,twp,addr,e,emergencytype,emergencysubtype
0,0,40.297876,-75.581294,REINDEER CT & DEAD END; NEW HANOVER; Station ...,19525.0,2015-12-10 17:40:00,NEW HANOVER,REINDEER CT & DEAD END,1,EMS,BACK PAINS/INJURY
1,1,40.258061,-75.264680,BRIAR PATH & WHITEMARSH LN; HATFIELD TOWNSHIP...,19446.0,2015-12-10 17:40:00,HATFIELD TOWNSHIP,BRIAR PATH & WHITEMARSH LN,1,EMS,DIABETIC EMERGENCY
2,2,40.121182,-75.351975,HAWS AVE; NORRISTOWN; 2015-12-10 @ 14:39:21-St...,19401.0,2015-12-10 17:40:00,NORRISTOWN,HAWS AVE,1,Fire,GAS-ODOR/LEAK
3,3,40.116153,-75.343513,AIRY ST & SWEDE ST; NORRISTOWN; Station 308A;...,19401.0,2015-12-10 17:40:01,NORRISTOWN,AIRY ST & SWEDE ST,1,EMS,CARDIAC EMERGENCY
4,4,40.251492,-75.603350,CHERRYWOOD CT & DEAD END; LOWER POTTSGROVE; S...,NaN,2015-12-10 17:40:01,LOWER POTTSGROVE,CHERRYWOOD CT & DEAD END,1,EMS,DIZZINESS

In [14]:
# convert date time to date time
df.timeStamp = pd.to_datetime(df.timeStamp)

In [16]:
# check the data types and see where our blank fields are...
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77691 entries, 0 to 77690
Data columns (total 11 columns):
id                  77691 non-null int64
lat                 77691 non-null float64
lng                 77691 non-null float64
desc                77691 non-null object
zip                 67675 non-null float64
timeStamp           77691 non-null datetime64[ns]
twp                 77657 non-null object
addr                77277 non-null object
e                   77691 non-null int64
emergencytype       77691 non-null object
emergencysubtype    77691 non-null object
dtypes: datetime64[ns](1), float64(3), int64(2), object(5)
memory usage: 6.5+ MB